{% extends 'Index.html' %}

{% block content %}
    {% if cat.goods is not empty %}
    <h1>Товары категории {{ cat.title }}</h1>
    {% for good in cat.goods %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ good.title }}</div>
        <div class="panel-body">
            {{ good.price }} руб.
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>Товары в категории <strong>{{ cat.title }}</strong> отсутствуют.</h1>
    <p><a href="/shop/">выберите другую категорию</a></p>
    {% endif %}
{% endblock %}