{% extends 'Index.html' %}

{% block content %}
    {% if goods is not empty %}
    <h1>Товары категории {{ cattitle }}</h1>
    {% for good in goods %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ good.title }}</div>
        <div class="panel-body">
            {{ good.price }} руб.
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>Товары в категории <strong>{{ cattitle }}</strong> отсутствуют.</h1>
    <p><a href="/shop/">выберите другую категорию</a></p>
    {% endif %}
{% endblock %}