<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ app.config.myapp.name }}</title>
  {{ publishCss() }}
</head>
<body class="container">
  <nav class="navbar navbar-default">
    <div class="container">
      <ul class="nav navbar-nav">
        <li {% if app.request.url.path == '/' %}class="active"{% endif %}><a href="/">home</a></li>
        <li {% if app.request.url.path matches '~^/news/(\\d+)?$~' %}class="active"{% endif %}><a href="/news/">news</a></li>
        <li {% if app.request.url.path matches '~^/admin/news/~' %}class="active"{% endif %}><a href="/admin/news/">admin news</a></li>
        <li {% if app.request.url.path matches '~^/shop~' %}class="active"{% endif %}><a href="/shop">shop</a></li>
      </ul>
    </div>
  </nav>
  {% if app.flash.error %}
    <div style="border: 1px solid red;" class="text-warning">{{ app.flash.message }}</div>
  {% endif %}
{% block content %}{% endblock %}
{{ publishJs() }}
</body>
</html>